*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    background-color: rgb(19, 16, 16);
    overflow-x: hidden;
}
.w40{
width: 40%;
float: left;
}
.w60{
    width: 60%;
    float: left;
}
.box__notificacao{
   padding: 10px;
   position: relative;
   top: 14px;
  display: none;
    background-color: #0277bd;
    color: white; 
}

section.form__login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:  10px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.747);
}
.wrap__form{
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    padding: 10px;
}
.wrap__form input[type=email],.wrap__form [type=text],.wrap__form input[type=password],.wrap__form select{
    width: 100%;
    padding: 3px 10px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0);
}
.voltar{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: rgb(25, 45, 136);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    
    
}
.voltar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}
.container__form input[type=submit]{
    width: 150px;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 3px 4px 3px 2px rgba(0, 0, 0, 0.747);
    border: 0;
    border-radius: 5px;
}
.container__form input[type=submit]:hover{
    background-color: white;
    color: black;
}

.erro{
    background-color: rgb(255, 94, 0) ;
    text-align: center;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    z-index: 4;
    left: 800px;
    color: white;
    border: 1px solid black;
}
.success{
    background-color: rgb(21, 255, 0) ;
    text-align: center;
    top: 70px;
    z-index: 4;
    font-size: 16px;
    left: 800px;
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    color: white;
}
.cliente__wraper{
    float: left;
    width: 33.3%;
    padding: 20px;

}
.cliente__box{
    background-color: rgb(236, 236, 236);
    min-height: 550px;
    width: 100%;
    border: 2px solid black;
    overflow-y: auto;
    
}
.circle__cliente img{
    width: 100%;

    display: block;
}
.circle__cliente{
   padding: 40px;
   text-align: center;
}
.circle__cliente span{
    font-size: 80px;
    color: rgb(76, 161, 59);
}
.head__cliente{
    background-color: rgb(255, 255, 255);
    min-height: 100px;
    border-bottom: 2px solid black;
}
.body__cliente p{
    display: inline-block;
    font-size: 16px;
}
.body__cliente h4{
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;
}
.body__cliente{
    padding: 10px;
}
.box__crud{
    padding: 5px 10px;
    border: 1px solid black;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    display: inline-block;
}
.box__search{
    background-color: #00695c;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 0;
    
}
.box__search h2{
    color: white;
    font-weight: lighter;
}
label{
    display: block;
    margin-bottom: 10px;
}
.btn{
    padding: 5px 10px;
  
    color: white;
}
.gera_pdf{
    display: inline-block;
    margin: 10px 0;
    background-color: orangered;
    padding: 6px;
    border: 1px solid black;
}
.gera_pdf a{
    color: white;
    padding: 8px 10px;
    text-decoration: none;
}
.box__content a{
    color: black;
}
.cliente__box > .input__produto{
    border-bottom: 3px solid rgb(112, 112, 112);
    padding: 13px 5px;
    margin-bottom: 10px;
}
.cliente__box > .w70{
    width: 70%;
    float: left;
}
.cliente__box .produto__img img{
    width: 100%;
}
.cliente__box .w30{
    width: 30%;
    float: left;
}
.input__produto input[type=number]{
    width: 100%;
    margin: 20px 0;
    padding: 10px;
}
.input__produto h5{
    font-size: 22px;
    font-weight: bold;
}
.input__produto input[type=submit]{
    width: auto;
    padding: 10px;
    border: 1px solid black;
    background-color: #096900;
    color: white;
    cursor: pointer;
}
.card__title{
    color: white;
    padding:10px;
    border: 2px solid black;
    margin: 20px 0;
    background-color: #0277bd;
    width: 100%;
}
.card__title > h2{
    
    text-transform: capitalize;
    margin-bottom: 0;
}
.card__title a{
    color: white;
}
.produto__img h4{
    text-align: center;
    font-size: 70px;
    color: rgb(139, 139, 139);
}
/* visualizar empreendimento */
.empreendimento__img {
    min-height: 300px;
}
.empreendimento__img img{
    width: 100%;
}
.empreendimento__list li{
    list-style-type: none;
    line-height: 40px;
    border-bottom: 2px solid black;

}

.mesagem{
    padding: 10px; 
    overflow-y: auto;
    height: 400px;
    border: 1px solid black;
    margin-bottom: 20px;
}
.chat{
    margin: 20px 0;
    border-bottom: 1px solid black;
    padding: 5px ;
}
.chat h3{
    padding: 5px 20px;
    background-color: #0277bd;
    color: white;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 5px;
}
.calendario thead{background-color: #0277bd;}
.calendario td{cursor:pointer;border: 1px solid black;text-align: center;}
.calendario_active{background-color: rgb(83, 152, 98);transition: 0.7s;color: white;}
.tarefa__single{padding: 10px;float: left;width: 33.3%;position: relative;}
.circle__exit{
    padding: 5px;
    position: absolute;
    right: 0;
    top: -10px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(190, 36, 36);
    cursor: pointer;
}
.circle__exit a{
    color: white;
    text-decoration: none;
    
}
.circle__exit:hover{
    background-color: red;
}

.tarefa{background-color: #096900; color: white;padding:10px;position: relative;}
@media screen and (max-width: 1024px){
    .cliente__wraper{
        width: 100%;
    }
    .cliente__box .w30{
        width: 100%;
    }
    .cliente__box .w70{width: 100%;}
    .w40,.w60{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .tarefa__single{
        width: 50%;
    }
}