*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    background-color: rgb(19, 16, 16);
}

section.form__login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
}
.wrap__form{
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding: 10px;
}
.wrap__form input[type=email],.wrap__form [type=text],.wrap__form input[type=password],.wrap__form select{
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0);
}
.voltar{
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(25, 45, 136);
    color: white;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}
.voltar a{
    color: white;
    font-weight: bold;
}
.container__form input[type=submit]{
    width: 150px;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 3px 4px 3px 2px rgba(0, 0, 0, 0.747);
    border: 0;
    border-radius: 5px;
}
.container__form input[type=submit]:hover{
    background-color: white;
    color: black;
}

.erro{
    background-color: rgb(255, 94, 0) ;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  
    color: white;
}
.success{
    background-color: rgb(21, 255, 0) ;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  
    color: white;
}
.cliente__wraper{
    float: left;
    width: 33.3%;
    padding: 20px;

}
.cliente__box{
    background-color: rgb(236, 236, 236);
    min-height: 550px;
    width: 100%;
    border: 2px solid black;
    overflow-y: auto;
    
}
.circle__cliente img{
    width: 100%;

    display: block;
}
.circle__cliente{
   padding: 40px;
   text-align: center;
}
.circle__cliente span{
    font-size: 80px;
    color: rgb(76, 161, 59);
}
.head__cliente{
    background-color: rgb(255, 255, 255);
    min-height: 100px;
    border-bottom: 2px solid black;
}
.body__cliente p{
    display: inline-block;
    font-size: 16px;
}
.body__cliente h4{
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;
}
.body__cliente{
    padding: 10px;
}
.box__crud{
    padding: 5px 10px;
    border: 1px solid black;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    display: inline-block;
}
.box__search{
    background-color: #00695c;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 0;
    
}
.box__search h2{
    color: white;
    font-weight: lighter;
}
label{
    display: block;
    margin-bottom: 10px;
}
.btn{
    padding: 5px 10px;
  
    color: white;
}
.gera_pdf{
    display: inline-block;
    margin: 10px 0;
    background-color: orangered;
    padding: 6px;
    border: 1px solid black;
}
.gera_pdf a{
    color: white;
    padding: 8px 10px;
    text-decoration: none;
}
.box__content a{
    color: black;
}
.cliente__box > .input__produto{
    border-bottom: 3px solid rgb(112, 112, 112);
    padding: 13px 5px;
    margin-bottom: 10px;
}
.cliente__box > .w70{
    width: 70%;
    float: left;
}
.cliente__box .produto__img img{
    width: 100%;
}
.cliente__box .w30{
    width: 30%;
    float: left;
}
.input__produto input[type=number]{
    width: 100%;
    margin: 20px 0;
    padding: 10px;
}
.input__produto h5{
    font-size: 22px;
    font-weight: bold;
}
.input__produto input[type=submit]{
    width: auto;
    padding: 10px;
    border: 1px solid black;
    background-color: #096900;
    color: white;
    cursor: pointer;
}
.card__title{
    color: white;
    padding:10px;
    border: 2px solid black;
    margin: 20px 0;
    background-color: #0277bd;
    width: 100%;
}
.card__title > h2{
    
    text-transform: capitalize;
    margin-bottom: 0;
}
.card__title a{
    color: white;
}
.produto__img h4{
    text-align: center;
    font-size: 70px;
    color: rgb(139, 139, 139);
}

@media screen and (max-width: 1024px){
    .cliente__wraper{
        width: 100%;
    }
    .cliente__box .w30{
        width: 100%;
    }
    .cliente__box .w70{width: 100%;}
}